h1 {
    /* border:   width style color; */
    /* border: 2px solid black; */
    border-top: 2px solid red;
    border-left: 2px solid green;
    border-bottom: 2px dashed orange;
    border-right: 2px solid black;
    /* text-align: center; */
    padding-left: 60px;
    margin-left: 50px;
}

.box1 {

    /* px , % , em */
    border: 1px solid red;
    height: 100px;
    width: 100px;
    /* min-width: ;
    max-width: ; */
}

.box {
    height: 100px;
    /* width: 25%; */
    width: 100px;
    border: 1px solid red;
    /* overflow: scroll; */
    /* overflow: hidden; */
    overflow-y: scroll;
    /* border-radius: 50px; */
    /* border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; */

}

.box2 {
    height: 500px;
    width: 500px;
    border: 1px solid green;
    border-radius: 50%;
    background-color: aqua;
}

#box3 {
    height: 100px;
    width: 100px;
    border: 1px solid red;
    padding-left: 10px;
    margin-left: 40px;
}

#box4 {
    height: 50px;
    width: 50px;
    border: 1px solid green;
    padding-left: 25px;
    margin-left: 10px;
}

#box5 {
    height: 25px;
    width: 25px;
    border: 1px solid brown;
    /* margin-left: 20px; */
}

.box6 {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}