/* * {
    color: aqua;
}

h1 {
    color: red;
} */

/* p{
    color: blue;
} */

/* #para1 {
    color: blue;
} */

/* .para1 {
    color: blue;
}

h1+p {
    color: brown;
} */

/* adjacent sibling */
/* h2+h1 {
    color: aqua;
} */

/* #change {
    color: pink;
} */

/* h1+p {
    color: pink;
} */

/* general sibling */
/* h1~p {
    color: pink;
} */

/* h4+h1+p{
    color: blue;
} */

/* h1+p {
    color: green;
}

h1~p {
    color: aqua;
} */

body {
    background-color: antiquewhite;
}

h4 {
    /* color: #1717d83b; */
    color: rgba(255, 0, 0, 1);
    background-color: rgba(194, 39, 245, 1);
    /* opacity: 0.2; */
}

span {
    background-color: aqua;
    color: pink;
}

h1 {
    font-family: monospace, cursive, sans-serif;
}

#para2 {
    font-weight: 100;
    /* font-size: 12px; */
    font-size: 200%;
    font-style: italic;
    text-transform: capitalize;
    text-decoration: line-through;
    line-height: 1.8;
    letter-spacing: 2px;
    word-spacing: 10px;
}

a {
    text-decoration: none;
}

/* hexcode */
/* #rrggbb  */
/* #ff0000 */

/* rgb=> red green blue */
/* 255 0 */

/* rgba => red green blue alpha */