.card {
    width: 400px;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
}

.cover {
    width: 100%;
}

.profile {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: relative;

}

.profile img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: 20PX;
}

.dotonline {
    height: 14px;
    width: 14px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    bottom: 2px;
}